<div class="card h-100">
  <!-- Product image-->
  <img class="card-img-top" [src]="ratingData.imageURL" alt="..." />
  <!-- Product details-->
  <div class="card-body p-4">
    <div class="text-center">
      <!-- Product name-->
      <h5 class="fw-bolder" href>
        <a
          class="link-dark text-decoration-none"
          [routerLink]="['/product', ratingData.productId]"
        >
          {{ productData?.displayName }}
        </a>
        <p class="fw-lighter">
          by
          <a
            class="link-dark text-decoration-none"
            [routerLink]="['/product', ratingData.productId]"
            >{{ brandData?.displayName }}</a
          >
        </p>
      </h5>
      <!-- Product price-->
      Puffed by {{ userData?.displayName }}.
      <!-- Product reviews-->
      <div class="d-flex justify-content-center small mb-2">
        <div
          *ngFor="let fill of fullStars"
          class="text-warning bi bi-star-fill"
        ></div>
        <div
          *ngFor="let fill of halfStars"
          class="text-warning bi bi-star-half"
        ></div>
        <div *ngFor="let fill of noStars" class="text-warning bi bi-star"></div>
        <p class="ps-2">({{ ratingData?.value }})</p>
      </div>
    </div>
  </div>
  <!-- Product actions-->
  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
    <div class="text-center">
      <a
        class="btn btn-outline-dark mt-auto"
        [routerLink]="['/product', ratingData.productId]"
        >View product</a
      >
    </div>
  </div>
</div>
