<mat-card>
    <mat-card-header>
        <mat-card-title>Create Strain</mat-card-title>
    </mat-card-header>
    <div>
        <textarea #titleInput placeholder="Title..."></textarea>
    </div>
    <div>
        <textarea #descInput placeholder="Description..."></textarea>
    </div>
    <div *ngIf="selectedImageFile" id="strain-preview">
        <img id="strain-preview-image"/>
    </div>
    <mat-card-actions align="end">
        <button mat-button color="warn">
            <label for="photo-upload">
                <input #photoSelector (change)="onPhotoSelected(photoSelector)" id="photo-upload" type="file" accept="image/*">
                <mat-icon>insert_photo</mat-icon>
            </label>
        </button>
        <button (click)="onStrainClick(titleInput, descInput)" mat-button color="warn">Create Strain</button>
    </mat-card-actions>
</mat-card>