#strains-feed {
    max-width: 500px;
    margin-top: 5em;
    margin-bottom: 10em;
    margin-left: auto;
    margin-right: auto;
}

#strains-button {
    position: fixed;
    bottom: 2em;
    right: 2em;
}