<ng-container *ngIf="authService.userState">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link link-secondary" aria-current="page" href="/home"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link link-dark" href="/activity">Activity</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-dark" href="/products">Products</a>
    </li>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle link-dark"
        id="navbarDropdown"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        >Create</a
      >
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li>
          <a class="dropdown-item" href="/createproduct">Create Product</a>
        </li>
      </ul>
    </li>
  </ul>

  <header class="pb-3 border-bottom">
    <div class="container d-flex d-flex justify-content-between">
      <span class="d-flex align-self-center fs-4">Puffed</span>
      <form class="mx-5 d-flex flex-fill align-self-center">
        <input
          type="search"
          class="form-control"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>
      <i (click)="authService.logout()" class="d-flex align-self-center bi bi-person-circle fs-4"></i>
    </div>
  </header>
</ng-container>
