<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#staticBackdrop"
>
  Check In
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          What do you Puff this?
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="productCheckInForm"
          (ngSubmit)="checkInProduct(imageInput)"
        >
          <!-- Description Input -->
          <div class="form-floating mb-3">
            <input
              formControlName="description"
              id="description"
              class="form-control"
              style="height: 5rem"
              type="text"
              required
            />
            <label for="description">Description</label>
          </div>
          <!-- Rating Input -->
          <div class="form-floating mb-3">
            <input
              formControlName="rating"
              class="form-control"
              id="rating"
              type="number"
              required
            />
            <label for="rating">Rating</label>
          </div>
          <!-- image Input -->
          <div class="input-group mb-3">
            <input
              formControlName="image"
              #imageInput
              type="file"
              class="form-control"
              id="image"
              required
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!productCheckInForm.valid"
            >
              Check In
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
