.wrapper {
  height: 100%;
  background: linear-gradient(to right, #702a8c, #702a8c);
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335;
}

.btn-forgotpassword {
  color: white !important;
  background-color: #3b5998;
}

.btn-redirectToLogin {
  color: black !important;
}

.puffed-logo {
  text-align: center;
}

svg {
  width: 64px;
}