#acivity-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
}

#wide-divider {
    width: 3000px;
}