<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <h5 class="card-title text-center mb-5 fw-light fs-5">Register</h5>

          <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="form-floating mb-3">
              <input
                formControlName="username"
                type="text"
                class="form-control"
                id="username"
                placeholder="username"
                required
              />
              <label for="username">User Name</label>
            </div>
            <div
              *ngIf="username.invalid && username.dirty"
              class="alert alert-danger"
              role="alert"
            >
              Username must be between 3 and 24 chars
            </div>

            <div class="form-floating mb-3">
              <input
                formControlName="email"
                type="email"
                class="form-control"
                id="email"
                placeholder="name@example.com"
                required
              />
              <label for="email">Email Address</label>
            </div>
            <div
              *ngIf="email.invalid && email.dirty"
              class="alert alert-danger"
              role="alert"
            >
              Your email doesn't look quite right...
            </div>

            <div class="form-floating mb-3">
              <input
              formControlName="password"
              type="password"
              class="form-control"
              id="password"
              placeholder="password"
              required
              />
              <label for="password">Password</label>
              <div
                *ngIf="password.invalid && password.touched"
                class="alert alert-danger"
                role="alert"
              >
                Password must be between 6 and 24 chars and have at least one
                number
              </div>
            </div>
            <div class="form-floating mb-3">
              <input
              formControlName="confirmPassword"
              type="confirmPassword"
              class="form-control"
              id="confirmPassword"
              placeholder="confirmPassword"
              required
              />
              <label for="confirmPassword">Confirm Password</label>
              <div
                *ngIf="confirmPassword.invalid && confirmPassword.touched"
                class="alert alert-danger"
                role="alert"
                required
              >
                Password and Confirm Password must be match.
              </div>
            </div>

            <div class="d-grid">
              <button
                class="btn btn-primary btn-register text-uppercase fw-bold"
                type="submit"
                [disabled]="!registerForm.valid"
              >
                Register
              </button>
            </div>
            <a class="d-block text-center mt-2 small" href="/login"
              >Already have an account? Sign In!</a
            >

            <hr class="my-4" />
            <div class="d-grid mb-2">
              <button
                class="btn btn-google btn-register text-uppercase fw-bold"
                type="submit"
              >
                <i class="bi bi-google me-2"></i> Sign up with Google
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
